.container {
  min-height: 100vh;
  background-color: #fff;
  flex-direction: column;
  display: flex;
}

.navigationBar {
  background-color: #367ba100;
  justify-content: center;
  width: 100%;
  padding: 10px 13px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.navItems {
  align-items: center;
  gap: 25px;
  display: flex;
}

.navItem {
  justify-content: center;
  align-items: center;
  display: flex;
}

.profileItem {
  justify-content: center;
  align-items: center;
  padding: 10px;
  display: flex;
}
